<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Museu Virtual: Tarsila</title>
    <link rel="stylesheet" href="./styles/tarsila.css">

</head>
<body>
    <h1>Obras da Tarsila do Amaral</h1>
</body>
</html>
 