<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <title>Museu: rota principal</title>
    <link rel="stylesheet" type="text/css" href="./styles/style.css" />
</head>

<body>
    <h1>Rota principal</h1>
    <h2>Home.ejs</h2>
    <h3>Nome = <%= nome %>
    </h3>
</body>

</html>